<!-- Footer Start -->
<footer class="py-16 bg-light">
    <div class="container">
        <div class="grid md:grid-cols-1 items-center justify-center">
            <div class="text-center">
                <a href="javascript:void(0)" class="text-black text-3xl md:text-3xl font-semibold">Queue</a>
                <p class="mx-auto text-black mt-12 mb-4 text-base max-w-[700px] ">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>

                <ul class="text-center mt-6">
                    <li class="inline ms-1 group"><a href="javascript:void(0)" target="_blank" class="btn btn-icon btn-sm border rounded-full border-black hover:bg-primary hover:border-primary transform transition-all duration-400 ease-in-out"><i class="mdi mdi-facebook text-black group-hover:text-white"></i></a></li>
                    <li class="inline ms-1 group"><a href="javascript:void(0)" target="_blank" class="btn btn-icon btn-sm border rounded-full border-black hover:bg-primary hover:border-primary transform transition-all duration-400 ease-in-out"><i class="mdi mdi-twitter text-black group-hover:text-white"></i></a></li>
                    <li class="inline ms-1 group"><a href="javascript:void(0)" target="_blank" class="btn btn-icon btn-sm border rounded-full border-black hover:bg-primary hover:border-primary transform transition-all duration-400 ease-in-out"><i class="mdi mdi-instagram text-black group-hover:text-white"></i></a></li>
                    <li class="inline ms-1 group"><a href="javascript:void(0)" target="_blank" class="btn btn-icon btn-sm border rounded-full border-black hover:bg-primary hover:border-primary transform transition-all duration-400 ease-in-out"><i class="mdi mdi-vimeo text-black group-hover:text-white"></i></a></li>
                    <li class="inline ms-1 group"><a href="javascript:void(0)" target="_blank" class="btn btn-icon btn-sm border rounded-full border-black hover:bg-primary hover:border-primary transform transition-all duration-400 ease-in-out"><i class="mdi mdi-google-plus text-black group-hover:text-white"></i></a></li>
                    <li class="inline ms-1 group"><a href="javascript:void(0)" target="_blank" class="btn btn-icon btn-sm border rounded-full border-black hover:bg-primary hover:border-primary transform transition-all duration-400 ease-in-out"><i class="mdi mdi-linkedin text-black group-hover:text-white"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<footer class="py-6 bg-black">
    <div class="text-center"> 
        <p class="mb-0 text-white font-normal text-base">© <script>document.write(new Date().getFullYear())</script> Queue. Design by <a href="javascript:void(0)" class="text-white-50">Zoyothemes</a></p>
    </div>
</footer>
<!-- Footer End -->