<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@@title - | Cotido Tailwind CSS Coming Soon Template</title>
<meta name="description" content="Coming Soon Tailwind CSS 3 HTML Template is a multi purpose landing page template, Corporate, Coming Soon Page, Launching Web, Launching Product Website, Agency or Business Startup, Sport, Yoga Beach Launching Event Website, Application, Clean, Creative, Multipurpose, Christmas Coming soon and Tailwind CSS It’s fully responsive and built Tailwind v3 etc."/>
<meta name="keywords" content="Coming soon, Sport, Creative, Modern, Tailwindcss, Tailwind CSS, Multipurpose, Clean"/>
<meta name="author" content="Zoyothemes"/>

<!-- favicon -->
<link href="assets/images/favicon.ico" rel="shortcut icon">