<!-- Navbar Start -->
<nav class="navbar navbar-custom" id="navbar">
    <div class="container">
        <div class="flex lg:flex-nowrap flex-wrap items-center justify-between">
            
            <!-- Navbar Brand Logo -->
            <a class="logo navbar-brand" href="index.html">Queue</a>

            <!-- Moblie Menu Toggle Button (Offcanvas Button) -->
            <div class="lg:hidden flex items-center ms-auto px-2.5">
                <button class="hs-collapse-toggle" type="button" id="hs-unstyled-collapse" data-hs-collapse="#navbarCollapse">
                    <i data-feather="menu" class="h-8 w-8 text-black"></i>
                </button>
            </div>

            <!-- Navigation Menu -->
            <div class="navigation hs-collapse lg:flex hidden w-full transition-all duration-300 lg:basis-auto basis-full grow justify-end gap-7 overflow-hidden mt-6 lg:mt-0 nav-light" id="navbarCollapse">
                <ul class="navbar-nav" id="navbar-navlist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#resume">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#news">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item hs-dropdown relative inline-flex [--trigger:hover] [--placement:bottom-left]">
                        <a class="nav-link hs-dropdown-toggle" href="javascript:void(0)">Pages <i class="mdi mdi-menu-down ms-2 align-middle text-base"></i></a>
                        <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-[11rem] bg-white shadow rounded-lg py-4 m-0 after:h-4 after:absolute after:-bottom-4 after:left-0 after:w-full before:h-4 before:absolute before:-top-4 before:left-0 before:w-full" aria-labelledby="hs-dropdown-hover-event">
                            <a class="flex items-center gap-x-3.5 py-3 px-6 text-xs text-dark font-bold uppercase hover:text-primary" href="page-blog.html">
                                Blog
                            </a>
                            <a class="flex items-center gap-x-3.5 py-3 px-6 text-xs text-dark font-bold uppercase hover:text-primary" href="page-blog-detail.html">
                                Blog Detail
                            </a>
                            <a class="flex items-center gap-x-3.5 py-3 px-6 text-xs text-dark font-bold uppercase hover:text-primary" href="page-portfolio.html">
                                Portfolio
                            </a>
                            <a class="flex items-center gap-x-3.5 py-3 px-6 text-xs text-dark font-bold uppercase hover:text-primary" href="page-portfolio-detail.html">
                                Portfolio Detail
                            </a>
                        </div>
                    </li>
                </ul>
                

                <ul class="nav-social flex ps-4 md:ps-0 pt-4 mt-4 lg:pt-0 lg:mt-0 gap-2 items-center border-t border-gray-200 lg:border-none">
                    <li class="list-inline-item me-2"><a href="javascript:void(0)"><i class="mdi mdi-facebook text-primary text-lg"></i></a></li>
                    <li class="list-inline-item me-2"><a href="javascript:void(0)"><i class="mdi mdi-twitter text-primary text-lg"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-instagram text-primary text-lg"></i></a></li>
                </ul>
            </div>
        </div>

    </div><!--end container-->
</nav><!--end navbar-->
<!-- Navbar End -->