<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@@title - | Queue - Tailwind CSS Landing Page Template</title>
<meta name="description" content="A fully responsive Tailwind CSS Template, personal, agency, application, business, clean, creative, it solutions, startup, career, blog, modern, creative, multipurpose, portfolio, saas, software, tailwind css, etc."/>
<meta name="keywords" content="Onepage, creative, modern, Tailwind CSS, multipurpose, clean"/>
<meta name="author" content="Zoyothemes"/>

<!-- favicon -->
<link href="assets/images/favicon.ico" rel="shortcut icon">