<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@@title - | Tailwind CSS Authentications Template</title>
<meta name="description" content="Tailwind CSS Saas HTML Template Is A Multi Purpose Landing Page Template, Corporate, Authentication, Launching Web, Agency or Business Startup, Clean, Modern, Creative, Multipurpose and Tailwind CSS Tailwind v3 etc."/>
<meta name="author" content="Zoyothemes"/>

<!-- favicon -->
<link href="assets/images/favicon.ico" rel="shortcut icon">